<div style="padding-top: 10px;padding-bottom: 50px;padding-left: var(--spacer-2);padding-right: var(--spacer-2);margin-left: auto;margin-right: auto;background-color: black;position:absolute;width: 100%;padding-bottom: 0px;" id="footer">
  <img src="/assets/TheoNewsFooter.svg" style="width:100px;margin: 25px 0px;user-select: none;">    
  <footer class="footer" style="margin: 0px;margin-bottom: 25px;color: white;">
    <div>
          <small>
          Copyright © {{ site.time | date: "%Y" }} TheoNews all right reserved.
          </small>
          <small>
          <a href="javascript:location.reload();" style="text-decoration: none; color: #999999">{{ site.github.build_revision | truncate: 7, "" }}</a><a href="/info" style="text-decoration: none; color: #999999">...</a>
          </small>
    </div>
    <small style="float:left;background-color:white;color:black;font-weight: 600;padding-right: 20px;padding-left: 5px;margin: 25px 0px">REPRINT WITHOUT PERMISSION IS NOT ALLOWED</small>
      </footer>
    </div>
