---
layout: default
---

{% include post_style.html %}

<article class="post">
  <h1 class="post-title" style="margin-top: 50px">{{ page.title }}</h1>
  <time datetime="{{ page.date | date_to_long_string }}" class="post-date">{{ page.date | date_to_long_string }}</time>
  {{ content }}
</article>

{% if site.related_posts != empty %}
<aside class="related">
  <h3>Related Articles</h3>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
          <small>{{ post.date | date: "%-d %B %Y" }}</small>
        </a>
      </li>
    {% endfor %}
  </ul>
</aside>
{% endif %}
